* {
    font-family: 'Inter';
}

body {
    margin: 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #26272D;
}

.nav-topleft {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #61DAFB
}

.nav-logo {
    width: 40px;
}

.nav-details {
    display: flex;
    align-items: flex-end;
    color: #E2F3FE
}

.main {
    margin-top: -25px;
    height: 100vh;
    background-color: #2C3137;
    color: #E2F3FE
}